

.titre {
	color:black;
	top:50px;
	right: +150px;
	
}

.soustitre {
	color:black;
	top:70px;
	right: +150px;
	font-size:50%;
}
.trait {
	color:black;
	top:75px;
	right: +150px;
}
.titrenature{
	border: 1px #C8BFE7 solid;
	position: fixed; 
	top: +250px;
	right: +1105px;
	padding: 5px;
	border-radius: 5px;
	width: +150px;

}
.bat {
	border: 1px #C8BFE7 solid;
	position: fixed; 
	top: +250px;
	right: +925px;
	padding: 5px;
	border-radius: 5px;
	width: +150px;
	}

.titrepersonne {
	border: 1px #C8BFE7 solid;
	position: fixed; 
	top: +250px;
	right: +745px;
	padding: 5px;
	border-radius: 5px;
	width: +150px;
}

.voiture {
	border: 1px #C8BFE7 solid;
	position: fixed; 
	top: +400px;
	right: 1105px;
	padding: 5px;
	border-radius: 5px;
	width: +150px;
}

.nouriture{
	border: 1px #C8BFE7 solid;
	position: fixed; 
	top: +250px;
	right: 615px;
	padding: 5px;
	border-radius: 5px;
	width: +100px;
	
}
#image {
	position: fixed; top: +150px;
	right: +745px;
	border: 1px #C8BFE7 solid;
	
}
#image:hover {
	filter: blur(4px);
  -webkit-filter: blur(4px);
  cursor: pointer;
  background-image: url("architecture.png");
  background-position:top;
}

#image2 {
	position: fixed; top: +150px;
	right: +925px;
	border: 1px #C8BFE7 solid;
}

#image2:hover{
	filter: blur(4px);
  -webkit-filter: blur(4px);
cursor: pointer;
}

#image3 {
	position: fixed; top: +150px;
	border: 1px #C8BFE7 solid;
	right:+1105px;
}
#image3:hover {
	filter: blur(4px);
  -webkit-filter: blur(4px);
  cursor: pointer;
 
}

#image4 {
	position: fixed; top: +150px;
	right: +565px;
	border: 1px #C8BFE7 solid;
}

#image4:hover {
	filter: blur(4px);
  -webkit-filter: blur(4px);
  cursor: pointer;
  background-image: url("nouriture.png");
  background-position:top;
}
#image5 {
	position: fixed; top: +300px;
	right:+1105px;
	border: 1px #C8BFE7 solid;
}
#image5:hover{
	filter: blur(4px);
  -webkit-filter: blur(4px);
  cursor: pointer;
  
}

#image6 {
	position: fixed; top: +300px;
	right: +925px;
	border: 1px #C8BFE7 solid;
}
#image6:hover {
	filter: blur(4px);
  -webkit-filter: blur(4px);
  cursor: pointer;
}